* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  background: #e5e5e5;
  font-family: "Inter", sans-serif;
  margin: 1rem;
}

.logo {
  margin-bottom: 2rem;
}

.principal_input {
  background: #e5e5e5;
  font-size: 2rem;
  font-weight: 400;
  border: none;
  line-height: 3rem;
}

.principal_input::placeholder {
  color: #0a3871;
}

.principal_informacoes {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 200px;
}

.principal_informacoes p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #343a40;
}

.principal_botao {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 1rem;
}

.botao_criptografar,
.botao_descriptografar {
  padding: 1.5rem;
  border-radius: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.21rem;
  text-align: center;
}

.botao_criptografar {
  background-color: #0a3871;
  color: #fff;
}

.botao_descriptografar {
  background-color: #e5e5e5;
  border: 1px solid #0a3871;
  color: #0a3871;
}

.principal_mensagem {
  background-color: #fff;
  padding: 2rem;
  border-radius: 32px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.principal_mensagem h1 {
  color: #343a40;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.principal_mensagem p {
  color: #495057;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
