/* * {
  margin: 0px;
  padding: 0px;
}

body {
  background: #e5e5e5;
  font-family: "Inter", sans-serif;
}

.paragrafo-um {
  color: #0a3871;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
} */
