* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: #e5e5e5; */
  background: #f3f5fc;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.logo {
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.principal {
  margin-left: 1.5rem;
}

.principal_input {
  /* background: #e5e5e5; */
  background: #f3f5fc;
  font-size: 2rem;
  font-weight: 400;
  border: none;
  line-height: 3rem;
}

.principal_input::placeholder {
  color: #0a3871;
}

.principal_informacoes {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 21.875rem;
}

.principal_informacoes p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #343a40;
}

.principal_botao {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 1rem;
}

.botao_criptografar,
.botao_descriptografar {
  padding: 1.5rem;
  border-radius: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.21rem;
  text-align: center;
}

.botao_criptografar {
  background-color: #0a3871;
  color: #fff;
}

.botao_descriptografar {
  background-color: #e5e5e5;
  border: 1px solid #0a3871;
  color: #0a3871;
}

.mensagem {
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 4.375rem;
  margin-bottom: 3.125rem;
  margin-left: 1.5rem;
}

.mensagem h1 {
  color: #343a40;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.mensagem p {
  color: #495057;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    margin: 2rem;
  }
  .logo {
    margin-bottom: 8rem;
  }

  .principal_botao {
    flex-direction: row;
  }

  .botao_criptografar,
  .botao_descriptografar {
    margin: 0 auto;
    width: 60%;
  }
}

@media screen and (min-width: 1140px) {
  .logo {
    margin-bottom: 0;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }

  .principal {
    width: 100%;
    margin-left: 10rem;
  }

  .principal_input {
    margin-top: 3rem;
    margin-bottom: 18.75rem;
  }

  .principal_botao {
    width: 90%;
  }

  .botao_descriptografar {
    background-color: #d8dfe8;
  }

  .mensagem {
    background-image: url(/assets/img/High\ quality\ products\ 1\ 1.svg);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    border-radius: 2rem;
    text-align: center;
    /* max-width: 100%; */
    height: 59rem;
    position: relative;
    top: -7.5rem;
    padding: 3.75rem;
    margin-left: 1.875rem;
  }

  .mensagem_conteudo {
    position: relative;
    top: 33.125rem;
  }
}
